<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    
    <title>Contacts</title>
</head>
<body style="overflow: hidden;">
    <nav class="container">
        <a href="#" class="nav-brand active">
            <img src="../assets/img/logo.png" class="logo">Time Management
        </a>

        <button class="btn btn-menu" onclick="showMenu()">
            <svg width="24" height="24" class="menu-btn" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M24 18v1h-24v-1h24zm0-6v1h-24v-1h24zm0-6v1h-24v-1h24z" fill="#1040e2"/><path d="M24 19h-24v-1h24v1zm0-6h-24v-1h24v1zm0-6h-24v-1h24v1z"/>
            </svg>
        </button>
        
        <div class="navbar" id="menu">
            <ul class="nav-menu">
                <li class="nav-item active">
                    <a href="../index.html" class="item">home</a>
                </li>
                <li class="nav-item">
                    <a href="./todo.html" class="item">Todo List</a>
                </li>
                <li class="nav-item">
                    <a href="./about.html" class="item">about</a>
                </li>
                <li class="nav-item">
                    <a href="./contact.html" class="item">contacts</a>
                </li>
                <li class="nav-item flex">
                    <a href="./login.html" class="btn btn-primary mr-1">login</a href="./">
                    <a href="./register.html" class="btn btn-outline-primary">Signup</a href="./">
                </li>
            </ul>
        </div>
    </nav>

    <div id="bg1"></div>
    <div id="bg2"></div>

    <div class="container text-center">
        <div class="text-white my-5">
            
            <h1>Contact Us</h1>
            <p>Get in touch, let us know how we can help</p"flex">
            </div>
            <div class="flex w-75 mx-auto">
                <div class="col-6 mx-2">
                    <div class="card p-2">
                        <h2 class="text-primary">Contact Customer Support</h2>
                        <p class="my-3">Sometimes you need a little help from your friends. Or a </p>
                        <button class="btn btn-primary w-100">Contact Support</button>
                    </div>
                </div>
                <div class="col-6 mx-2">
                    <div class="card p-2">
                        <h2 class="text-primary">Love & Support</h2>      
                        <p class="my-3">Interested in this Website? A Donation help us reach our goals!</p>
                        <button class="btn btn-primary w-100">Become a Patron</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <script src="../index.js"></script>
</body>
</html>
